body{
    background-image: url('fundo_pagamento.png');
    opacity: 0.9;
    font-family: monospace;
}
.pagamento-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;  
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0, 15px, 25px, rgba(0, 0, 0, 0.7);
}
.pagamento-box h2{
    margin: 0,0,30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.pagamento-box .nome-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.pagamento-box .nome-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.pagamento-box .cpf-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.pagamento-box .cpf-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.pagamento-box .numero-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.pagamento-box .numero-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.pagamento-box .data-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.pagamento-box .data-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.pagamento-box .cvv-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.pagamento-box .cvv-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
#PIX{
    padding: 10px 10px;
    color: #a0a0a2dc;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #757577dc;
    margin: auto;
    line-height: 68px;
}
#PIX:hover{
    background: #757577dc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #757577dc, 0 0 25px #757577dc, 0 0 50px #757577dc, 0 0 100px #757577dc;
}
#Cartão{
    padding: 10px 10px;
    color: #a0a0a2dc;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #757577dc;
    margin: auto;
}
#Cartão:hover{
    background: #757577dc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #757577dc, 0 0 25px #757577dc, 0 0 50px #757577dc, 0 0 100px #757577dc;
}
#Enviar{
    padding: 10px 20px;
    color: #a0a0a2dc;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #757577dc;
    margin: auto;
}
#Enviar:hover{
    background: #757577dc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #757577dc, 0 0 25px #757577dc, 0 0 50px #757577dc, 0 0 100px #757577dc;
}